{% extends 'base.html.twig' %}

{% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block header_class %} site-header site-header--fluid bg-primary {% endblock %}

{% block body %}
  <div class="page-content page-content--no-b-bottom">
  <div class="breadcrumbs-container">
  <div class="container">
    <ul class="breadcrumbs min-list inline-list">
      <li class="breadcrumbs__item">
        <a href="index.html" class="breadcrumbs__link">
          <span class="breadcrumbs__title">Home</span>
        </a>
      </li>

      <li class="breadcrumbs__item">
        <a href="#" class="breadcrumbs__link">
          <span class="breadcrumbs__title">Pages</span>
        </a>
      </li>

      <li class="breadcrumbs__item">
        <span class="breadcrumbs__page c-gray">Single Listing</span>
      </li>
    </ul><!-- .breadcrumbs -->
  </div><!-- .container -->
</div>
  <section class="single-listing single-listing--layout-1">
  <header class="listing-header">
    <div class="container">
      <div class="listing-header__container">
        <div class="d-lg-flex justify-content-lg-between">
          <div class="listing-header__main">
            <div class="d-flex">
              <div class="listing-header__image">
                <img src="assets/images/uploads/single-listing.jpg" alt="Petersham Nurseries Cafe">
              </div><!-- .listing-header__image -->

              <div class="listing-header__content">
                <div class="d-sm-flex align-items-sm-center">

                  <h2 class="listing-header__title">{{ university.title }}</h2>
                  <div>
                    <i class="fa fa-check-circle c-secondary"></i>
                    <span class="c-dusty-gray">Claimed</span>
                  </div>
                </div>
                
                <ul class="min-list listing-header__detail">
                  <li>
                    <span class="listing__score t-center">{{ sum_ratings.overall_rating[0] }}</span>
                    <span class="listing__review c-dusty-gray">
                      <span class="stars-outer" data-rating="4.5">
                        <span class="stars-inner"></span>
                      </span>
                    </span>
                  </li>
                  <li>
                    <span>Coffee & Tea</span>
                  </li>
                  <li>
                  <span>
                    <i class="fa fa-usd c-dove-gray"></i>
                    <i class="fa fa-usd c-dusty-gray"></i>
                    <i class="fa fa-usd c-dusty-gray"></i>
                    <i class="fa fa-usd c-dusty-gray"></i>
                    <span class="c-dusty-gray">(Inexpensive)</span>
                  </span>
                  </li>
                </ul><!-- .listing__header-detail -->
              </div><!-- .listing-header__content -->
            </div><!-- .listing__wrapper -->
          </div><!-- .listing-header__main -->

          <ul class="min-list inline-list listing-actions">
            <li class="t-center listing-action listing-action--favorite">
              <a href="#">
                <i class="fa fa-heart"></i>
                Favorite
              </a>
            </li>
            <li class="t-center listing-action listing-action--report">
              <a href="#">
                <i class="fa fa-exclamation"></i>
                Report
              </a>
            </li>
            <li class="t-center listing-action listing-action--share">
              <a href="#">
                <i class="fa fa-share-alt"></i>
                Share
              </a>
            </li>
          </ul><!-- .listing-actions -->
        </div>
      </div><!-- .listing-header__container -->
    </div><!-- .container -->
  </header><!-- .listing-header -->
  <nav class="listing-nav bg-white">
    <div class="container">
      <ul class="min-list inline-list listing-tabs">
        <li class="listing-tab is-active">
          <a href="#about" id="about-link" class="listing-nav-link">
            About
          </a>
        </li><!-- .listing-tab -->

        <li class="listing-tab">
          <a href="#menu" id="menu-link" class="listing-nav-link">
            Menu
          </a>
        </li><!-- .listing-tab -->

        <li class="listing-tab">
          <a href="#gallery" id="gallery-link" class="listing-nav-link">
            Gallery
          </a>
        </li><!-- .listing-tab -->

        <li class="listing-tab">
          <a href="#reviews" id="reviews-link" class="listing-nav-link">
            Reviews
          </a>
        </li><!-- .listing-tab -->

        <li class="listing-tab">
          <a href="#add-review" id="add-review-link" class="listing-nav-link">
            Add Review
          </a>
        </li><!-- .listing-tab -->
      </ul><!-- .listing-tabs -->
    </div>
  </nav>
  <div class="listing-main bg-wild-sand">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <div>
            <p>
              <img src="{{ asset('build/images-theme/uploads/single-listing-1.jpg') }}" alt="Single Listing">
            </p>
          </div>
          <div id="about" class="listing-section bg-white hover-effect" data-matching-link="#about-link">
           

            <div class="c-dove-gray">
              <p>{{ university.description }}</p>
            </div>
            
            <p>
                <img src="{{ asset('build/images-theme/uploads/single-listing-2.jpg') }}" alt="Single Listing">
            </p>

          </div><!-- .listing-section -->

          <div id="menu" class="listing-section bg-white hover-effect" data-matching-link="#menu-link">
            <div class="listing-section__header">
              <h3 class="listing-section__title">Професионални направления</h3>
            </div><!-- .listing-section__header -->
            <ul class="min-list listing-menu">
                         
              {% dump(majors) %} 

              {% for key, major in majors %}   
              <li class="listing-menu__item">
                <div class="d-flex justify-content-between align-items-center">
                  <div class="listing-menu__item-left">
                    <h4 class="listing-menu__item-name">{{ major[key]|e }}</h4>
                    <span class="c-gray listing-menu__item-gradients">{{ major[key]|e}}</span>
                  </div>

                  <div class="listing-menu__item-right">
                    <span class="c-secondary listing-menu__item-price">{{ major[key+1]|e}}</span>
                  </div>
                </div>
              </li><!-- .listing-menu__item -->
              {% endfor %}
            </ul><!-- .listing-menu -->
          </div><!-- .listing-section -->

          <div id="gallery" class="listing-section bg-white hover-effect" data-matching-link="#gallery-link">
            <div class="listing-section__header">
              <h3 class="listing-section__title">Галерия</h3>
            </div><!-- .listing-section__header -->

            <div class="swiper-container listing-gallery-top">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <img src="assets/images/uploads/listing-1.jpg" alt="Listing Image">
                </div>
                <div class="swiper-slide">
                  <img src="assets/images/uploads/listing-2.jpg" alt="Listing Image">
                </div>
                <div class="swiper-slide">
                  <img src="assets/images/uploads/listing-3.jpg" alt="Listing Image">
                </div>
                <div class="swiper-slide">
                  <img src="assets/images/uploads/listing-4.jpg" alt="Listing Image">
                </div>
              </div><!-- .swiper-wrapper -->
              <span class="ion-chevron-left c-white listing-button listing-button-prev"></span>
              <span class="ion-chevron-right c-white listing-button listing-button-next"></span>
            </div><!-- .listing-gallery-top -->

            <div class="swiper-container listing-gallery-thumb">
              <div class="swiper-wrapper">
                <div class="swiper-slide is-selected">
                  <img src="assets/images/uploads/listing-1.jpg" alt="Listing Image">
                </div>
                <div class="swiper-slide">
                  <img src="assets/images/uploads/listing-2.jpg" alt="Listing Image">
                </div>
                <div class="swiper-slide">
                  <img src="assets/images/uploads/listing-3.jpg" alt="Listing Image">
                </div>
                <div class="swiper-slide">
                  <img src="assets/images/uploads/listing-4.jpg" alt="Listing Image">
                </div>
              </div><!-- .swiper-wrapper -->
            </div><!-- .listing-gallery-thumb -->
          </div><!-- .listing-section -->

          <div id="reviews" class="listing-section bg-white hover-effect" data-matching-link="#reviews-link">
            <div class="listing-section__header">
              <h3 class="listing-section__title">Reviews</h3>
            </div><!-- .listing-section__header -->

            <table class="listing-ratings">

              <tr class="listing-rating">
                <th>Обучение</th>
                <td>
                  <span>{{ sum_ratings.academics[0] }}</span>
                </td>
              </tr><!-- .listing-rating -->

              <tr class="listing-rating">
                <th>Преподаватели</th>
                <td>
                  <span>{{ sum_ratings.professors[0] }}</span>
                </td>
              </tr><!-- .listing-rating -->

              <tr class="listing-rating">
                <th>Университетска база</th>
                <td>
                  <span>{{ sum_ratings.campus[0] }}</span>
                </td>
              </tr><!-- .listing-rating -->

              <tr class="listing-rating">
                <th>Местоположение</th>
                <td>
                  <span>{{ sum_ratings.location[0] }}</span>
                </td>
              </tr><!-- .listing-rating -->

              <tr class="listing-rating">
                <th>Спортна база</th>
                <td>
                  <span>{{ sum_ratings.athletics[0] }}</span>
                </td>
              </tr><!-- .listing-rating -->

              <tr class="listing-rating">
                <th>Храна</th>
                <td>
                  <span>{{ sum_ratings.food[0] }}</span>
                </td>
              </tr><!-- .listing-rating -->

              <tr class="listing-rating">
                <th>Общежития</th>
                <td>
                  <span>{{ sum_ratings.dorms[0] }}</span>
                </td>
              </tr><!-- .listing-rating -->

              <tr class="listing-rating">
                <th>Перспективи за работа</th>
                <td>
                  <span>{{ sum_ratings.jobProspects[0] }}</span>
                </td>
              </tr><!-- .listing-rating -->
            </table><!-- .listing-ratings -->

            <ul class="min-list listing-review-list">
              {% for comment in comments %}
              <li id="comment_{{ comment.id }}" class="listing-review">
                <div class="d-flex">
                  <div class="listing-review__avatar">
                    <img src="#" alt="Avatar">
                  </div><!-- .listing-review__avatar -->

                  <div class="listing-review__content">
                    <header class="listing-review__header">
                      <div class="d-sm-flex justify-content-sm-between c-silver-charlice">
                        <div>
                          <span class="stars-outer" data-rating="4">
                            <span class="stars-inner"></span>
                          </span>
                          <span>8.0 - Good</span>
                        </div>
                        
                        <span>{{ 'Written on'|trans }} {{ comment.publishedAt|date("m/d/Y") }}</span>
                      </div>
                    </header><!-- .listing-review__header -->

                    <div class="listing-review__review">
                      <p> {{ comment.content|trans }} </p>
                    </div>

                    <footer class="listing-review__footer">
                      <button class="button button--like c-white">
                        <i class="fa fa-thumbs-up"></i>
                      </button>
                    </footer>
                  </div><!-- .listing-review__content -->
                </div>
              </li><!-- .listing-review -->
              {% endfor %}
            </ul><!-- .listing-review-list -->

          {# Pagination TO DO #}
            <div class="d-sm-flex justify-content-sm-between align-items-sm-center listing-pagination">
              <div class="page-navigation">
                <span aria-current="page" class="page-numbers current">1</span>
                <a href="#" class="page-numbers">2</a>
                <a href="#" class="page-numbers">3</a>
                <a href="#" class="page-numbers next">Next &raquo;</a>
              </div><!-- .page-navigation -->

              <span>Page 1 of 8</span>
            </div>
          </div><!-- .listing-section -->
          {# Pagination TO DO #}
          
        </div><!-- .col-lg-8 -->

        <div class="col-lg-4">
          <div class="listing-widget bg-white hover-effect">
            <div class="listing-map-container">
              <div id="contact-map" class="map"></div>
            </div><!-- .listing-map-container -->

            <ul class="min-list listing-contact-list">
              <li class="d-flex align-items-center c-silver-charlice listing-contact">
                <i class="fa fa-compass listing-contact__icon"></i>
                <span class="c-primary">{{ university.address }}</span>
              </li>

              <li class="d-flex align-items-center c-silver-charlice listing-contact">
                <i class="fa fa-phone listing-contact__icon"></i>
                <a href="tel:+442077391628">{{ university.phone }}</a>
              </li>

              <li class="d-flex align-items-center c-silver-charlice listing-contact">
                <i class="fa fa-envelope listing-contact__icon"></i>
                <a href="#">{{ university.email }}</a>
              </li>

              <li class="d-flex align-items-center c-silver-charlice listing-contact">
                <i class="fa fa-globe listing-contact__icon"></i>
                <a href="#">{{ university.website }}</a>
              </li>
            </ul><!-- .listing-contact-list -->

            <div class="listing-social">
              <span class="c-dove-gray">Our Social</span>
              <ul class="min-list inline-list social-list">
                <li>
                  <a href="#">
                    <i class="fa fa-facebook-f c-facebook"></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fa fa-twitter c-twitter"></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fa fa-pinterest c-pinterest"></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fa fa-google-plus c-google-plus"></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fa fa-linkedin c-linkedin"></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fa fa-instagram c-instagram"></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fa fa-youtube c-youtube"></i>
                  </a>
                </li>
              </ul><!-- .social-list -->
            </div><!-- .listing-social -->

            <button
              class="button button--primary button--block button--pill button--large"
            >Make Reservation
            </button>
          </div><!-- .listing-widget -->

          <div class="listing-widget bg-white hover-effect">
            <h3 class="listing-widget__title">Opening Time</h3>
            <table class="listing-timetable">
              <tr>
                <th><strong>Mon</strong></th>
                <td>8:00 AM - 5:00 PM</td>
                <td class="c-secondary"></td>
              </tr>
              <tr>
                <th><strong>Tue</strong></th>
                <td>8:00 AM - 5:00 PM</td>
                <td class="c-secondary">
                  Open Now
                </td>
              </tr>
              <tr>
                <th><strong>Wed</strong></th>
                <td>8:00 AM - 5:00 PM</td>
                <td class="c-secondary">
                </td>
              </tr>
              <tr>
                <th><strong>Thur</strong></th>
                <td>8:00 AM - 5:00 PM</td>
                <td class="c-secondary">
                </td>
              </tr>
              <tr>
                <th><strong>Fri</strong></th>
                <td>8:00 AM - 5:00 PM</td>
                <td class="c-secondary">
                </td>
              </tr>
              <tr>
                <th><strong>Sat</strong></th>
                <td>8:00 AM - 5:00 PM</td>
                <td class="c-secondary">
                </td>
              </tr>
              <tr>
                <th><strong>Sun</strong></th>
                <td>8:00 AM - 5:00 PM</td>
                <td class="c-secondary">
                </td>
              </tr>
            </table>
          </div><!-- .listing-widget -->

          <div class="listing-widget bg-white hover-effect">
            <h3 class="listing-widget__title">Contact</h3>
            <form action="/" method="post">
              <div class="form-group">
                <label for="name">Name *</label>
                <input
                  type="text"
                  name="name"
                  id="name"
                  required
                  class="form-input form-input--large form-input--border-c-gallery"
                >
              </div><!-- .form-group -->

              <div class="form-group">
                <label for="email">Email *</label>
                <input
                  type="email"
                  name="email"
                  id="email"
                  required
                  class="form-input form-input--large form-input--border-c-gallery"
                >
              </div><!-- .form-group -->

              <div class="form-group">
                <label for="message">Message</label>
                <textarea
                  name="message"
                  id="message"
                  rows="8"
                  class="form-input form-input--large form-input--border-c-gallery"
                ></textarea>
              </div><!-- .form-group -->

              <div class="form-group--submit">
                <button class="button button--primary button--large button--pill" type="submit">Send Message</button>
              </div>
            </form>
          </div><!-- .listing-widget -->

          <div class="listing-widget bg-white hover-effect">
            <h3 class="listing-widget__title">Latest Listings</h3>
            <ul class="min-list latest-listings">
              <li class="latest-listing">
                <div class="d-flex">
                  <div class="latest-listing__thumbnail">
                    <a href="#">
                      <img src="assets/images/uploads/latest-listing-1.jpg" alt="Latest Listing">
                    </a>
                  </div><!-- .latest-listing__thumbnail -->

                  <div class="latest-listing__content">
                    <h5 class="latest-listing__name"><a href="#">Monmouth Restaurant</a></h5>
                    <div class="latest-listing__review c-gray">
                      <span class="stars-outer" data-rating="4.5">
                        <span class="stars-inner"></span>
                      </span>
                      <span class="t-small">(03 reviews)</span>
                    </div>
                    <p class="c-gray latest-listing__desc">It is totally true that Monmouth...</p>
                  </div><!-- .latest-listing__content -->
                </div>
              </li><!-- .latest-listing -->

              <li class="latest-listing">
                <div class="d-flex">
                  <div class="latest-listing__thumbnail">
                    <a href="#">
                      <img src="assets/images/uploads/latest-listing-2.jpg" alt="Latest Listing">
                    </a>
                  </div><!-- .latest-listing__thumbnail -->

                  <div class="latest-listing__content">
                    <h5 class="latest-listing__name"><a href="#">Broadway Coffee Shop</a></h5>
                    <div class="latest-listing__review c-gray">
                      <span class="stars-outer" data-rating="4.5">
                        <span class="stars-inner"></span>
                      </span>
                      <span class="t-small">(03 reviews)</span>
                    </div>
                    <p class="c-gray latest-listing__desc">The Vietnamese iced coffee...</p>
                  </div><!-- .latest-listing__content -->
                </div>
              </li><!-- .latest-listing -->

              <li class="latest-listing">
                <div class="d-flex">
                  <div class="latest-listing__thumbnail">
                    <a href="#">
                      <img src="assets/images/uploads/latest-listing-3.jpg" alt="Latest Listing">
                    </a>
                  </div><!-- .latest-listing__thumbnail -->

                  <div class="latest-listing__content">
                    <h5 class="latest-listing__name"><a href="#">Books for Cooks</a></h5>
                    <div class="latest-listing__review c-gray">
                      <span class="stars-outer" data-rating="3.5">
                        <span class="stars-inner"></span>
                      </span>
                      <span class="t-small">(03 reviews)</span>
                    </div>
                    <p class="c-gray latest-listing__desc">When I walked in the door...</p>
                  </div><!-- .latest-listing__content -->
                </div>
              </li><!-- .latest-listing -->
            </ul><!-- .latest-listings -->
          </div><!-- .listing-widget -->
          <p class="c-dusty-gray listing-cta">Is this your business?
            <a href="#" class="t-underline">Claim it now.</a></p>
        </div><!-- .col-lg-4 -->
      </div><!-- .row -->
    </div>
  </div>
</section><!-- .single-listing -->
</div><!-- .page-content -->

{% endblock %}
